body,html{
    height: 100%;
    margin: 0;
    background: #7F7FD5;
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
}

.usuario{
    background-color: rgba(0, 0, 0, 0.733);
    align-items: center;
    height: 80px;
    justify-content:left;
    display: flex;
    font-size: 20px;
    vertical-align: 50%;
}

.center{
    border-radius: 20px;
    height: 30px;
    width: 200px;
    border: 2px solid aqua;
    background-color: rgba(0, 0, 0, 0.66);
    color: white;
    padding-left: 10px;
    margin: 8px;
}

img{
    margin-left: 70px;
}


.center:hover{
    border: 3px solid rgb(8, 39, 167);
}

.caixa{
    background-color: rgba(1, 3, 53, 0.536);
    width: 70%;
    height: 520px;
    margin-top: 4%; 
    border-radius: 10px;
}

img{
    margin-top: 3px;
}

.sua{
    overflow: -moz-scrollbars-vertical; 
    overflow-y: scroll;
    height: 520px;
}

.botao-whatsapp {
    background-color: #25D366; /* Cor de fundo do WhatsApp */
    border: none; /* Sem borda */
    color: white; /* Cor do texto */
    padding: 12px 20px; /* Espaçamento interno (topo/baixo, esquerda/direita) */
    text-align: center; /* Alinhamento do texto */
    text-decoration: none; /* Sem decoração de texto */
    display: inline-block; /* Exibição em linha */
    font-size: 16px; /* Tamanho da fonte */
    margin: 2px 2px; /* Margem externa (topo/baixo, esquerda/direita) */
    cursor: pointer; /* Cursor do mouse ao passar por cima */
    border-radius: 50px; /* Borda arredondada */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Sombra */
  }
  
  .botao-whatsapp:hover {
    background-color: #128C7E; /* Cor de fundo alterada ao passar o mouse */
  }


.tudo2{
   width: 65%;
   height: 50px;
   background-color: rgb(0, 0, 0);
   border-radius: 20px;
   margin-top: 4px;
   padding-left: 10px;
   color: white;
   border: 2px solid aqua;
   margin-left: 30px;

}





